<h1 style="text-align: center;">Upload video</h1>
<form id="upload-form" class="row g-3" method="POST" novalidate>
    <input id="video-id" type="hidden" name="videoId">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Video title" value="{{title}}" required>
        <div class="invalid-feedback">
            Title is required!
        </div>
    </div>
    <div class="mb-3">
        <div class="mb-3">
            <label for="file" class="form-label">Video (Only mp4 is accepted)</label>
            <input type="file" class="form-control" id="file" accept="video/mp4" required>
            <div class="invalid-feedback">
                Video file is required!
            </div>
        </div>
        <div class="mb-3 progress">
            <div id="file-progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p id="proggress-info"></p>
    </div>
    <div class="mb-3">
        <button id="submit" type="submit" class="btn btn-primary mb-3" disabled>Save</button>
    </div>
</form>
<script src="/file-uploader.js"></script>
<script src="/upload.js"></script>